:root {
  --saturation_level: 0%;
  --color_value: 359;
  --color: hsl(var(--color_value), var(--saturation_level), 26.67%);
  --light: hsl(var(--color_value), var(--saturation_level), 40.39%);
  --dark: hsl(var(--color_value), var(--saturation_level), 10.2%);

  --nav-width: 350px;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--nav-width) + 50px);
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100vh;
  width: calc(100% - var(--nav-width) - 50px);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px 25px;
}

.cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-height: 200px;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 30px;
  background-color: color-mix(in srgb, var(--light), white 12%);
  color: #fff;
  text-align: left;
}